<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampLand</title>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body class="d-flex text-center text-white">
    <div class="bg-image" style="
      background-image: url('https://res.cloudinary.com/dau70uw5o/image/upload/b_rgb:000000,o_50/v1634424953/YelpCamp/peter-thomas-ATdSdo72wR8-unsplash_njluec.jpg');
      height: 100%; width: 100%; object-fit: contain;">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <div>
                    <h3 class="float-md-start my-3 fw-light">CampLand</h3>
                    <nav class="nav nav-masthead justify-content-center float-md-end my-3">
                        <a class="nav-link" href="#">Home</a>
                        <a class="nav-link" href="/campgrounds">Campgrounds</a>
                        <% if(!currentUser) { %>
                            <a class="nav-link" href="/login">Login</a>
                            <a class="nav-link" href="/register">Register</a>
                            <% } else { %>
                                <a class="nav-link link-light" href="/logout">Logout</a>
                                <% } %>
                    </nav>
                </div>
            </header>

            <main class="px-3">
                <h1 class="fs-1 mb-3 fw-light">CampLand</h1>
                <p class="lead fs-3 ">Welcome to CampLand!</p>
                <p class="lead fs-4 ">Here you can find, rate and review any campground!</p>
                <p class="lead">
                    <a href="/campgrounds" class="btn btn-lg btn-secondary border-white bg-white">
                        View Campgrounds
                    </a>
                </p>
            </main>

            <footer class="mt-auto">
                <p>&copy; 2021 CampLand</p>
            </footer>

        </div>
    </div>
    <script src="/scripts/bootstrap.bundle.min.js"></script>
</body>

</html>