<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpCamp</title>
    <link rel="stylesheet" href="/styles/bootstrapCss/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <div class="bg-image" style="
      background-image: url('https://res.cloudinary.com/dau70uw5o/image/upload/v1634400866/YelpCamp/patrick-hendry-euaPfbR6nC0-unsplash_kon8iv.jpg');
      height: 100vh;">
        <div class="d-flex text-center text-white">
            <div class="cover-container d-flex w-100 h-auto p-3 mx-auto flex-column">
                <header class="mb-auto p-2 tpt fw-bold">
                    <div>
                        <h3 class="float-md-start mb-0 m-1">YelpCamp</h3>
                        <nav class="nav nav-masthead justify-content-center float-md-end">
                            <a class="nav-link link-light" href="#">Home</a>
                            <a class="nav-link link-light" href="/campgrounds">Campgrounds</a>
                            <% if(!currentUser) { %>
                                <a class="nav-link link-light" href="/login">Login</a>
                                <a class="nav-link link-light" href="/register">Register</a>
                                <% } else { %>
                                    <a class="nav-link link-light" href="/logout">Logout</a>
                                    <% } %>
                        </nav>
                    </div>
                </header>

                <main class="d-flex flex-column justify-content-center">
                    <h1 class="mb-3">YelpCamp</h1>
                    <p class="fs-4">Welcome to YelpCamp!</p>
                    <p class="fs-5">Here you can find, rate and review any campground!</p>
                    <a href="/campgrounds" class="btn btn-lg btn-secondary fw-bold text-white tpt w-25 mx-auto">
                        View Campgrounds
                    </a>
                </main>
                <footer class="mt-auto text-white-50">
                    <p>&copy; 2021 YelpCamp</p>
                </footer>
            </div>
        </div>
    </div>
    <script src="/scripts/bootstrapJs/bootstrap.min.js"></script>
</body>

</html>