<% layout('/layouts/boilerplate') %>
    <div class="card mx-auto px-3 border-0" style="max-width: 40rem;">
        <h1 class="text-center"> New Campground</h1>
        <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" name="campground[title]" id="title" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" name="campground[location]" id="location" required>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Images</label>
                <input class="form-control" type="file" id="image" name="image" multiple>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group mb-3">
                    <input type="text" name="campground[price]" class="form-control" placeholder="0.00"
                        aria-label="price" required>
                    <span class="input-group-text">$</span>
                </div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description rows=" 3" name="campground[description]"
                    required></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Campground</button>
            </div>

        </form>
        <a class="text-muted" href="/campgrounds">Or back to campgrounds</a>
    </div>